/*******************************************************************************
 *  Red AbForti                                                                 *
 *                                                                              *
 * Version: 1.0	                                                               *
 * Developer:  Cesar Gonzalez                                 				           *
 *******************************************************************************/


body {
  padding: 0;
  background-color: #024e96;
}

.btn-primary {
  background-color: #9966cc;
  border-color: #9966cc;
}

.btn-primary:hover {
  background-color: #993399;
  border-color: #993399;
}

.btn-danger {
  background-color: #f44336;
  border-color: #f44336;
}

.btn-danger:hover {
  background-color: #f72a1b;
  border-color: #f72a1b;
}

.btn-success {
  background-color: #024e96;
  border-color: #024e96;
}

.panel-login {
  background-color: #ffffff !important;
  /*box-shadow: 5px 0px 77px #333;*/
}

.clear {
  clear: both;
}

.login-panel {
  box-shadow: 5px 0px 77px #333;
  margin-top: 150px;
}

.panel-body {
  padding: 20px 30px 10px 2px;
}

.panel-heading {
  padding: 15px 30px 15px 30px;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.margin-bottom {
  margin-bottom: 1em;
}

.margin-top {
  margin-top: 1em;
}

.padding-right {
  padding-right: 15px;
}

.no-padding-right {
  padding-right: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.user {
  margin-top: 8px;
  margin-right: 10px;
}

/* Forms */
input.shipping {
  text-align: right;
}
.custom_email_textarea {
  width: 100%;
  padding: 10px;
}
#invoice_status,
#invoice_type {
  margin-top: 23px;
}

.invoice_product_qty {
  width: 50px;
  text-align: center;
}
.invoice_type {
  text-transform: uppercase;
}

.select-customer {
  margin-top: 10px;
}

.delete-row {
  float: left;
  margin-top: 4px;
}

.item-select {
  float: left;
  margin: 4px;
}

.item-input {
  float: left;
  width: 65%;
  margin-left: 10px;
}

.textarea {
  width: 100%;
}

.textarea textarea {
  width: 100%;
  padding: 10px;
  resize: none;
}

/* Other styles */
strong.shipping {
  margin-top: 4px;
  display: block;
}

/* Progress bar */
.progress .bar {
  display: block;
  height: 20px;
}
.error-list {
  display: none;
}
.progress.progress-danger .bar {
  background-color: #c13333;
}
.progress.progress-warning .bar {
  background-color: #c1bf33;
}
.progress.progress-success .bar {
  background-color: #33c133;
}

.login-form {
  margin-top: 100px;
}

.checkbox-list {
  list-style: none; /* Elimina los puntos de la lista */
  padding: 0; /* Elimina el relleno predeterminado de la lista */
  text-align: left; /* Alinea la lista a la izquierda */
}

.checkbox {
  display: block; /* Cambia la visualización a bloque para ocupar toda la anchura disponible */
  margin-bottom: 5px; /* Ajusta el margen inferior según sea necesario */
}

.oculto {
  display: none;
}

.no-underline {
  text-decoration: none;
  color: #0088ff !important;
}

.no-underline:hover,
.no-underline:focus,
.no-underline:active {
  text-decoration: none;
  color: #000 !important;
}

/* Diseño para mostrar el mensaje al momento de guardar la factura */
#mensaje {
  display: none;
  margin-top: 20px;
  color: green;
  background-color: #d4edda;
  padding: 10px;
  border: 1px solid #c3e6cb;
  border-radius: 5px;
}

/*Status.php*/
.alert-container {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}

.alert {
  padding: 15px;
  margin: 10px 0;
  border: 1px solid transparent;
  border-radius: 4px;
  clear: both;
  /* Asegura que cada mensaje se muestre en una línea separada */
}

.alert-danger {
  color: #ff1c00;
  background-color: #ff1c00;
  border-color: #ff1c00;
}

.form-container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px 30px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  text-align: center;
}

.form-container input[type="file"] {
  display: block;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  width: 100%;
  max-width: 450px;
}

.form-container button.Btn01 {
  background-color: #323677;
  color: #fff;
  border: none;
  padding: 12px 25px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-container button.Btn01:hover {
  background-color: #141960;
}

.form-container button.Btn01:active {
  background-color: #0e1147;
}

.table-container {
  overflow-x: auto;
  width: 100%;
}
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

@media screen and (max-width: 600px) {
  table {
    width: 100%;
  }

  thead {
    display: none;
  }

  tbody tr {
    display: block;
    margin-bottom: 20px;
  }

  tbody td {
    display: block;
    text-align: left;
  }

  tbody td:first-child {
    background-color: #f2f2f2;
  }
}

/*Panel.php*/
.card {
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

.card-header a {
  color: #323677;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  display: block;
  padding: 15px;
  border-radius: 10px;
  background-color: #ffffff;
  transition: background-color 0.3s ease;
}

.card-header a:hover {
  background-color: #f0f0f5;
}

/* inovice-list.php*/
.grogu {

  color: #ffffff;

}

.btn-flecha {
  display: inline-block;
  padding: 15px;
  border-radius: 50%;
  background-color: #007bff;
  color: white;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.btn-flecha:hover {
  background-color: #0056b3;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  
  color: black;
}


/* Estilos para el título */
.header-container h1 {
  margin: 10px;
  flex-grow: 1;
  text-align: center;
}
